body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 1.5;
}

.nu {
  background-color: #772C98 !important;
  color: #f8f9fa !important;
}

.container {
  margin: 2em auto;
}

/* The device with borders */
.smartphone {
  position: relative !important;
  width: 340px !important;
  height: 610px !important;
  margin: auto;
  border: 15px black solid;
  border-top-width: 50px;
  border-bottom-width: 50px;
  border-radius: 25px;
  box-sizing: content-box !important;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 340px !important;
  height: 586 !important;
  background: #ffffff;
  color: #767676;
  overflow-y: auto !important;
}

/* Sets the phone top bar */
.phone-bar {
  display: flow-root;
  height: 24px !important;
  margin: 0 !important;
}

/* Hide all content screens initially */
.smartphone .content>div, .info>div {
  display: none;
}

.smartphone .content>div {
  padding: 7%;
}

.info>div {
  height: 450px;
}

h2 {
  display: inline-flex;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 24px;
}

.btn-toolbar {
  justify-content: center;
}

#saldoDiv {
  height: 100px;
  background-color: #e9ecef;
}

.progress {
  height: 100px;
}

.progress-bar {
  height: 5px;
}

.sonho {
  position: absolute;
  font-size: 65px;
  margin: 3px 20px;
}

.badge {
  vertical-align: top;
}
