body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 1.5;
}

.nusonhos {
  font-family: 'Baloo 2', cursive;
}
.nu {
  background-color: #772C98 !important;
  color: #f8f9fa !important;
}
.smartphone .content>.tela0{
  margin-top: 40%;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #00000a;
}

.smartphone .content .nusonhos{
  margin-top: 20%;
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  margin: 2em auto;
}

/* The device with borders */
.smartphone {
  position: relative !important;
  width: 340px !important;
  height: 610px !important;
  margin: auto;
  border: 15px black solid;
  border-top-width: 50px;
  border-bottom-width: 50px;
  border-radius: 25px;
  box-sizing: content-box !important;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 340px !important;
  height: 586 !important;
  background: #ffffff;
  color: #767676;
  overflow-y: auto !important;
}


/* Sets the phone top bar */
.phone-bar {
  display: flow-root;
  height: 24px !important;
  margin: 0 !important;
}

/* Hide all content screens initially */
.smartphone .content>div, .info>div {
  display: none;
}

.smartphone .content>div {
  padding: 7%;
}

/*.tela1 {
  text-align: justify;
  line-height: 2;
}*/

.info>div {
  height: 450px;
}
.info>.tela0{
  text-align: center
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  margin-top: 30%;
  margin-bottom: -15%;
}
.info>.tela1{
  text-align: justify;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 7%;
}

.info>.tela2{
  text-align: justify;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin-top: 2rem;  
  margin-bottom: 9%;
}

.info>.tela3{
  text-align: center;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin-top: 30%; 
  margin-bottom: -15%; 
}

h2 {
  display: inline-flex;
}

.left-panel-title {
  font-family: 'Baloo 2', cursive;
  font-weight: 300;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 24px;
}

.btn-toolbar {
  justify-content: center;
}

#saldoDiv {
  height: 100px;
  background-color: #e9ecef;
}

.progress {
  height: 100px;
}

.progress-bar {
  height: 5px;
}

.sonho {
  position: absolute;
  font-size: 65px;
  margin: 3px 20px;
}

.badge {
  vertical-align: top;
  margin-left: 0.5rem;
}

.footer {
  text-align: center;
}
