body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nu {
  background-color: #772C98 !important;
  color: #f8f9fa !important;
}

/* The device with borders */
.smartphone {
  position: relative !important;
  width: 360px !important;
  height: 640px !important;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  box-sizing: content-box !important;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px !important;
  height: 640px !important;
  background: #ffffff;
  color: #767676;
  overflow-y: auto !important;
}

/* Sets the phone top bar */
.phone-bar {
  display: grid;
}

/* Hide all content screens initially */
.smartphone .content .tela1, .smartphone .content .tela2 {
  display: none;
  margin: 1em;
  padding: 7%;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.5;
}

.tela1 .btn {
  width: 100%;
  margin: 2.5rem 0 0 0;
}
